@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden !scroll-smooth;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans.ttf');
}

:root [data-theme='theme'] {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Open Sans', sans-serif;
}
